[submodule "errorAPI/tools/raha/raha"]
	path = errorAPI/tools/raha/raha
	url = https://github.com/BigDaMa/raha
	ignore = dirty
[submodule "errorAPI/tools/FAHES/FAHES_Code"]
	path = errorAPI/tools/FAHES/FAHES_Code
	url = https://github.com/daqcri/FAHES_Code
	ignore = dirty
[submodule "errorAPI/tools/_NADEEF/NADEEF"]
	path = errorAPI/tools/_NADEEF/NADEEF
	url = https://github.com/daqcri/NADEEF
[submodule "errorAPI/tools/HoloClean/holoclean"]
	path = errorAPI/tools/HoloClean/holoclean
	url = https://github.com/HoloClean/holoclean
[submodule "fbiminer"]
	path = errorAPI/tools/ForbiddenItemSets/fbiminer
	url = https://github.com/MartijnVermeulen96/fbiminer
[submodule "dBoost"]
	path = errorAPI/tools/dBoost/dBoost
	url = https://github.com/MartijnVermeulen96/dBoost
[submodule "errorAPI/helpers/autofd/FDTool"]
	path = errorAPI/helpers/autofd/FDTool
	url = https://github.com/Devilmoon/FDTool/
